# See http://help.github.com/ignore-files/ for more about ignoring files.

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage tools
lib-cov
coverage

# Dependency directory
node_modules
semantic
tests
build

# misc
.DS_Store
.env
